/* AuthSection styles */
.auth-section {
  display: flex;
  flex-direction: column; /* Affiche les éléments en colonne sur les petits écrans */
  justify-content: center; /* Centrage vertical */
  align-items: center;
  background-color: #ffffff;
  color: #1B4242;
  padding-bottom: 20px;
  position: relative;
}

/* Image styles */
.aebm-image {
  width: auto;
  max-width: 100%;
  max-height: 150px;
  border-radius: 10px;
  margin-bottom: 20px; /* Ajoute de l'espace entre l'image et les boutons */
}

/* Button container */
.button-container {
  display: flex;
  gap: 20px; /* Espacement entre les boutons */
}

/* Button styles */
.button {
  border: 2px solid #145151; /* Bordure solide */
  border-radius: 25px; /* Coins arrondis */
  min-width: 150px; /* Largeur minimale */
  height: 50px;
  background-color: transparent; /* Fond transparent */
  color: #145151; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transition pour l'effet hover */
  text-transform: uppercase; /* Met en majuscules */
  font-weight: bold; /* Texte en gras */
}

.button:hover {
  background-color: #145151; /* Fond coloré au survol */
  color: white; /* Texte blanc au survol */
}

/* Icon styles */
.icon {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}


/* Media queries pour rendre la section responsive */
@media only screen and (min-width: 768px) {
  .auth-section {
    flex-direction: row; /* Affiche les éléments en ligne sur les écrans plus larges */
    align-items: flex-start; /* Alignement en haut */
  }

  .aebm-image {
    margin-bottom: 0; /* Supprime l'espace entre l'image et les boutons sur les écrans plus larges */
    margin-right: 10px; /* Ajoute un espace entre l'image et les boutons */
  }
}


 /* .auth-section::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1B4242;
  content: '';
} */
