/* App.css */
.app-container {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.app-container.light {
  background-color: #ffffff;
  color: #1B4242;
}

.app-container.dark {
  background-color: #1B4242;
  color: #ffffff;
}
